html,
body {
    background: white;
    color: grey;
    padding: 1em;
    font-family: 'Arial', sans-serif;
}

a {
    display: block;
    padding: 10px 15px;
    border: 1px solid grey;
    text-decoration: none;
    color: #00ACC1;
    display: inline;
}
